@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

html {
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   color: #fff;
   background-color: #000;
   margin:0;
   padding:0;
}

body {
   width: 80%;
   margin: auto;
   min-height: 100vh;
   padding: 20px;
   text-align: center;
}

h1 {
font-family: 'Aldrich', sans-serif;
   font-size: 60px;
}

button.startBtn {
 background-color: #000;
 color: #fff;
 padding: 30px 50px;
 font-size: 22px;
 font-family: 'Aldrich', sans-serif;
 border-bottom: 3px solid #fff;
 border: none;
}

button.startBtn a {
 color: #fff;
 text-decoration: none; 
}

button.startBtn:hover {
   cursor: pointer; 
}

.footer {
text-align: center;
}
