html {
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(26, 25, 25);
}

body {
   width: 80%;
   background-color: honeydew;
}

.footer {
text-align: center;
}